.AddTodo {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px solid #5BC0EB;
    border-radius: 5px;
    padding: 20px;
}

.AddTodo .InputContainer {
    margin-bottom: 10px;
    position: relative;
}

.AddTodo .InputContainer input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
}

.AddTodo .InputContainer .ValidationError {
    text-align: right;
    color: #FF0000;
    font-size: 12px;
    padding: 2px 2px 0;
}

.AddTodo button {
    width: 50%;
    border: none;
    outline: none;
    background-color: #FA7921;
    color: #fff;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 0px 0px #61544c;
    margin-bottom: 2px;
}

.AddTodo button:active {
    margin: 2px 0 0 2px;
    box-shadow: none;
}

.AddTodo button:disabled {
    background-color: #aaa;
    cursor: auto;
}